body, html {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-image.jpg");

	height: 100%;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.hero-text {
	text-align: left;
	top: 5%;
	left: 5%;
	position: absolute;
	color: white;
}

.about-me {
	display: block;
	text-align: center;
	background-color: #FBC438;
	width: 100%;
}

h1 {
	font-size: 42px;
	font-family: "Open Sans", sans-serif; 
}

p, li {
	font-size: 24px;
	font-family: "Open Sans", sans-serif;
	text-align: center;
}

h2 {
	font-size: 32px;
	font-family: "Georgia", serif;
}


