* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#header img {
    border-radius: 50%;
}

#header {
    height: 90vh;
    justify-content: space-between;
    align-items: center;
}

#aboutme,
#projects,
#contact {
    height: 100vh;
}

.nav {
    height: 10vh;
}

.nav li a {
    text-decoration: none;
    color: #2D561D;
    font-weight: 500;
}

.nav li a:hover {
    animation: tada;
    animation-duration: 1s;
}

#contact img {
    width: 2rem;
    height: 2rem;
}

.social-icon {
    display: flex;
}

#cv_header {
    padding-bottom: 2rem;
}

@media screen and (max-width: 768px) {
    #header {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}