/* EVERYTHING LOL */

#aboutme,
#projects,
#contact {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #eeeeee !important;
  font-size: 1.25rem !important;
}

/* NAVBAR */

.nav {
  height: 10vh;
}

#navbar ul li a {
  text-decoration: none;
  color: #1f1f1f;
  font-weight: 500;
  padding: 15px 20px 0px 20px;
}

#navbar ul li a:hover {
  animation: tada;
  animation-duration: 1s;
}

/* HEADER */

#header img {
  border-radius: 50%;
  width: 500px;
  height: auto;
}

#header {
  height: 85vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#scroll-down {
  height: 5vh;
  text-align: center;
}

/* ABOUT ME PART OF THE PAGE */

#aboutme a {
  text-decoration: none;
  color: #1f1f1f;
}

#aboutme a:hover {
  color: #F3A712;
}

/* PROJECTS PART OF THE PAGE */

#projects a {
  background-color: #2d561d;
  border: none;
}

#projects a:hover {
  background-color: #F3A712;
}

.card-img-top {
  width: 100%;
  height: 9.5vw;
  object-fit: contain;
}

/* CONTACT PART OF THE PAGE */

#contact img {
  width: 2rem;
  height: 2rem;
}

#contact a {
  text-decoration: none;
  color: #1f1f1f;
  transition: all 0.15s;
}

#contact a:hover {
  color: #F3A712;
}

.social-icon {
  display: flex;
}

/* CURRICULUM VITAE CSS*/

#cv_header {
  padding-bottom: 2rem;
}

#leftcolumn {
  background-color: #f0f0f0;
  color: #1f1f1f;
}

#rightcolumn {
  background-color: #1f1f1f;
  color: #f0f0f0;
}

.fname,
.lname {
  font-size: 5rem;
}

/* MOBILE RESPONSIVENESS */

@media screen and (max-width: 768px) {
  #header img {
    width: 300px;
  }

  #header {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  #navbar ul li a:hover {
    animation: none;
  }

  #projects {
    flex-direction: column;
    text-align: center;
  }

  #projects a:hover {
    background-color: #2d561d;
  }

  #projects .card-img-top {
    display: none;
  }

  #contact a {
    transition: none;
  }

  #contact a:hover {
    color: #1f1f1f;
  }

}